/*Selector*/
/*Son expresiones que filtran o seleccionan nodos especificos del DOM
del documento renderizado

select * from DOM where selector = ?;
*/

*{
    box-sizing: border-box;
}

body{
    padding: 0%;
    margin: 0%;
}

header{
    background-color: #630;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header section.branding {
    display: flex;
    gap: 1rem;
    align-items: center;
}

header section.branding img{
    height: 48px;
}

header h1{
    font-size: 1.25rem;
    
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

header nav ul li a{
    color: #FFF;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

header nav ul li a:hover{
    background-color: #7a7a7a;
    text-decoration: underline;
}

header .searchform{
    flex: 1;
    padding: 0.25rem 1rem;
}

header .searchform form{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
header .searchform form input{
    flex:1;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 27px;
    display: inline-block;
}

main .hero-panel{
    width: 100%;
    height: 70vh;
    background-color: rgb(170, 158, 145);
    overflow: hidden;
    position: relative;
}

main .hero-panel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

main .hero-panel .action-panel{
    position: absolute; 
    top: 50%;
    left: 33.33%;
    background-color: #FFF;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #000;
}

main .hero-panel .action-panel.q1 {
    top: 25%;
    left: 25%;
}
main .hero-panel .action-panel.q2{
    top: 25%;
    left: 75%;
}
main .hero-panel .action-panel.q3{
    top: 75%;
    left: 25%;
}
main .hero-panel .action-panel.q4{
    top: 75%;
    left: 75%;
}

.container{
    padding: 0.75rem 1rem;
}

.card-holder{
    display: flex;
    gap: 0.75rem;
}

.card{
    width: 300px;
    border: 1px solid #FFF;
    box-sizing: 3px 3px 5px #000;
    overflow: hidden;
    border-radius: 12px;
}

.card-header img{
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body{
    padding-bottom: 5rem;
    border-bottom: 1px #7a7a7a solid;
    margin-bottom: 0.5rem;
}

.card-body strong{
    display: block;
    padding: 0.75rem 5px;
    margin-bottom: 0.5rem;
    background-color: #630;
    color: #FFF;
}

.card-body .price-tag{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid #000;
    margin-left: auto;
    width: fit-content;
    margin-right: 0.5rem;
    border-radius: 37px;
}

.card-footer {
    padding: 0.5rem;
    padding-bottom: 1rem;
}

.card-footer button{
    display: block;
    background-color: #630;
    color: #FFF;
    border: 1px solid #000;
    box-shadow: 3px 3px 3px #000;
    border-radius: 9px;
    padding: 0.75rem 1rem;
    margin-left: auto;
}

