
.loader {
  position: fixed;
  inset: 0;
  background: #111;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}


.atom {
  width: 140px;
  height: 140px;
  position: relative;
  margin-bottom: 20px;
}


.nucleus {
  width: 28px;
  height: 28px;
  background: #ffdd57;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid rgba(255,255,255,0.1);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}


.electron {
  width: 14px;
  height: 14px;
  background: #66d9ff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}


.orbit1 {
  width: 120px;
  height: 70px;
  animation: spin 3s linear infinite;
}
.orbit1 .electron {
  transform: translateX(60px);
}


.orbit2 {
  width: 100px;
  height: 60px;
  transform: translate(-50%, -50%) rotate(35deg);
  animation: spin-rev 4s linear infinite;
}
.orbit2 .electron {
  transform: translateX(50px);
}


.orbit3 {
  width: 110px;
  height: 80px;
  transform: translate(-50%, -50%) rotate(-25deg);
  animation: spin 5s linear infinite;
}
.orbit3 .electron {
  transform: translateX(55px);
}


@keyframes spin {
  to { transform: translate(-50%, -50%) rotate(360deg); }
}
@keyframes spin-rev {
  to { transform: translate(-50%, -50%) rotate(-360deg); }
}

